body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 450px;
    width: 450px;
    position: relative;
}

.container * {
    position: absolute;
}

.house {
    top: 50%;
    left: 75px;
    height: 260px;
    width: 340px;
    background-color: orange;
}

.house::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -160px;
    border-right: 220px solid transparent;
    border-left: 220px solid transparent;
    border-bottom: 200px solid orange;
}

.house::after {
    content: "";
    position: absolute;
    top: -126px;
    left: 36px;
    height: 84px;
    width: 30px;
    background-color: orange;
    z-index: 1;
    border-top: 10px solid orange;
    border-left: 10px solid orange;
}

.window {
    top: 60px;
    height: 60px;
    width: 60px;
    background-color: black;
    z-index: 3;
}

.window-left {
    left: 40px;
}

.window-right {
    right: 40px;
}

.window::before, .window::after {
    content: "";
    position: absolute;
    background: orange;
}

.window::before {
    top: 0px;
    left: 42%;
    height: 100%;
    width: 10px;
}

.window::after {
    top: 42%;
    height: 10px;
    width: 100%;
}

.door {
    top: 121px;
    left: 138px;
    height: 140px;
    width: 70px;
    background-color: #e36414;
    z-index: 3;
}

.door::before {
    content: "";
    position:absolute;
    top: 50%;
    left: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: black;
}